<app-menu></app-menu>
<div>
    <span id="pageTitle">Order Line</span>
</div>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Total</th>
            <th>Customer</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngIf="order">
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.total | currency }}</td>
            <td>{{ order.customer.name }}</td>
            <td><button (click)="review()" class="btn btn-link">Review</button></td>
        </tr>
    </tbody>
</table>
<hr>
<a routerLink="/orderline/create/{{ order.id }}" *ngIf="order">New</a>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="order && order.orderlines">
        <tr *ngFor="let ol of order.orderlines">
            <td>{{ ol.id }}</td>
            <td>{{ ol.product }}</td>
            <td>{{ ol.quantity }}</td>
            <td>{{ ol.price | currency }}</td>
            <td>{{ ol.price * ol.quantity | currency }}</td>
            <td>
                <button (click)="edit(ol.id)" class="btn btn-link">Edit</button> |
                <button (click)="remove(ol)" class="btn btn-link">Delete</button>
            </td>
        </tr>
    </tbody>
</table>